.badge{
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}